@media screen and (min-width: 1400px) {
  .hidden_desktop {
    display: none;
  }
}
@media screen and (max-width: 1399px) {
  .hidden_mobile {
    display: none;
  }
}
.action-button {
  background-color: #3040c4;
  color: #fff;
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  cursor: pointer;
}

.fixed-width-action-button {
  width: 160px;
}

.bold-text {
  font-weight: 700;
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
  }
}

.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    background-color: #f3c6bd;
    max-width: 1140px;
    height: 62px;
    margin: auto;
    padding-left: 0;
    justify-content: initial;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
  }
}
.logo__text {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .logo__text {
    width: 222px;
    height: 51px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
  }
}
.logo__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-left: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__title {
    margin: 0;
  }
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}

.hamburger {
  width: 58px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #00000026;
}
.hamburger__icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
}

.navigation {
  margin-top: 7px;
  margin-left: 335px;
}
.navigation__item {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  margin-left: 50px;
}
.navigation__item:first-child {
  margin-left: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  width: 8px;
  height: 5px;
  display: inline-block;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  margin-left: 11px;
}

.header-action-button {
  margin-left: auto;
}

.headline {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .headline {
    max-width: 1140px;
    margin: auto;
  }
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 35px 15px 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    width: 754px;
    height: 165px;
    margin: 76px 0 0;
  }
}
.headline__text {
  font-size: 24px;
  line-height: 34px;
  margin: 24px 15px 0;
}
@media screen and (min-width: 1400px) {
  .headline__text {
    width: 456px;
    height: 102px;
    margin: 34px 0 0;
  }
}
.headline__actions {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 0;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    flex-direction: row;
    margin: 58px 0 0;
  }
}
.headline__bunner {
  max-width: 100%;
  margin-top: 33px;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__bunner {
    position: relative;
    right: -449px;
    margin-top: 84px;
    margin-bottom: 77px;
  }
}

@media screen and (min-width: 1400px) {
  .action-button {
    width: 160px;
  }
}

.action-button.learn-more-button {
  background-color: #fff;
  color: #3040c4;
  margin-top: 15px;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .action-button.learn-more-button {
    width: 158px;
    margin-top: 0;
    margin-left: 10px;
  }
}

.about {
  background-color: #f4f5f7;
}

.articles {
  padding: 46px 15px;
}
@media screen and (min-width: 1400px) {
  .articles {
    display: flex;
    padding: 77px 131px 76px 130px;
  }
}

.article {
  color: #2b292d;
  margin-bottom: 20px;
}
@media screen and (min-width: 1400px) {
  .article {
    margin-bottom: 0;
    margin-right: 29px;
    max-width: 555px;
    height: 102px;
  }
}
.article:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-right: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 8px;
}

@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    max-width: 1140px;
    margin: auto;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex-grow: 1;
  }
}
.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
@media screen and (max-width: 1399px) {
  .customers__item {
    width: 107px;
    height: 94px;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border-bottom: none;
    border-right: none;
    margin-top: 30px;
    margin-left: 98px;
  }
  .customers__item_no-left-margin {
    margin-left: 0;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}
@media screen and (min-width: 1400px) {
  .customers__logo {
    max-width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .customers-second-section {
    margin-top: 13px;
  }
}

.tips {
  margin-top: 9px;
  margin-bottom: 10px;
}

.tip {
  border-bottom: 1px solid #e3e3e3;
  padding: 40px 15px 40px;
}
.tip:last-child {
  border-bottom: none;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.tip__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2b292d;
  margin: 0;
  margin-top: 17px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 15px;
}
.tip__figure {
  margin: 0;
  margin-top: 30px;
  display: inline-block;
}
.tip__image {
  max-width: 100%;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
  margin-top: 19px;
  text-align: center;
}

.features__content {
  margin-top: 106px;
  margin-bottom: 110px;
  display: flex;
  align-items: flex-start;
}
.features__left-decoration {
  max-width: 100%;
  position: relative;
  top: 260px;
}
.features__text {
  max-width: 457px;
  margin-left: 40px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
  margin: 0;
  margin-top: 24px;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 30px;
}
.features__banner {
  max-width: 100%;
  position: relative;
  left: 113px;
}

.tips-list {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  color: #2b292d;
  list-style-type: none;
}
.tips-list__item {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  color: #2b292d;
  border-bottom: 1px solid #2b292d26;
  padding-bottom: 22px;
  padding-top: 20px;
}
.tips-list__item_hovered {
  color: #3142c6;
  border-bottom: 3px solid #3142c6;
}
.tips-list__item-icon {
  width: 25px;
  height: 25px;
  vertical-align: top;
  margin-right: 15px;
}
.tips-list__item-description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #2b292d;
}

.inbox {
  background: #fcf0e366;
  padding: 50px 15px 48px;
}
@media screen and (min-width: 1400px) {
  .inbox {
    display: flex;
    padding: 115px 99px 101px 193px;
    justify-content: space-between;
  }
}
.inbox__figure {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .inbox__figure {
    margin-top: 27px;
  }
}
.inbox__image {
  max-width: 100%;
}
.inbox__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 15px;
}
.inbox__text {
  flex-basis: 519px;
}
.inbox__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
  margin: 0;
  margin-top: 32px;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    margin-top: 0;
    margin-left: 28px;
  }
}
.inbox__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2b292d;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
    margin-left: 26px;
  }
}
.inbox__description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .inbox__description {
    margin-top: 30px;
    margin-left: 28px;
    max-width: 461px;
  }
}
.inbox__review {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .inbox__review {
    margin-top: 44px;
  }
}

.review {
  background-color: #fff;
  padding: 30px 20px 28px;
  border-bottom: 4px solid #0185d0;
}
.review__text {
  font-size: 20px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.review__user {
  margin-top: 26px;
}

.user-profile {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  color: #2b292d;
}
.user-profile__photo {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}
.user-profile__text {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}
.user-profile__name {
  font-weight: 700;
}
.user-profile__work-position {
  color: #807f81;
}

.communication {
  color: #2b292d;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communication {
    padding: 0;
    margin-left: 130px;
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__main-content {
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  .communication__main-content-text {
    max-width: 462px;
  }
}
.communication__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .communication__subtitle {
    margin-top: 123px;
  }
}
.communication__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
  }
}
.communication__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .communication__description {
    margin-top: 30px;
  }
}
.communication__action-button {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .communication__action-button {
    margin-top: 39px;
  }
}
.communication__figure {
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__figure {
    margin-left: 193px;
    margin-top: 110px;
  }
}
.communication__image {
  max-width: 100%;
}
.communication__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 17px;
}
.communication__horizontal-line {
  width: 150px;
  height: 1px;
  background-color: #0000001a;
  margin: 0;
  margin-top: 40px;
  border: none;
}
@media screen and (min-width: 1400px) {
  .communication__horizontal-line {
    margin-top: 26px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__offers {
    display: flex;
  }
}

.offer-container {
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .offer-container {
    margin-top: 41px;
    margin-left: 30px;
    max-width: 361px;
  }
  .offer-container:first-child {
    margin-left: 0;
  }
}

.offer {
  font-size: 18px;
  line-height: 26px;
}
.offer__description {
  margin: 0;
}
.offer__object {
  font-weight: 700;
}
.offer__link {
  font-weight: 700;
  display: inline-block;
  margin-top: 8px;
}

.audience {
  background-color: #00a1c612;
  padding: 50px 15px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px 131px 110px 130px;
  }
}
@media screen and (min-width: 1400px) {
  .audience__text {
    max-width: 555px;
    margin: auto;
  }
}
.audience__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  margin: 0;
}
.audience__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
  }
}
.audience__description {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    margin-top: 30px;
  }
}
.audience__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__actions {
    display: flex;
    max-width: 328px;
    margin: auto;
    margin-top: 34px;
  }
}
.audience__actions .learn-more-button {
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .audience__actions .learn-more-button {
    margin-top: 0;
  }
}
.audience__categories {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audience__categories {
    display: flex;
    max-width: 1139px;
    justify-content: space-between;
    margin: auto;
    margin-top: 111px;
  }
}
.audience__categories-item {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .audience__categories-item {
    margin-left: 30px;
    margin-top: 0;
    flex-grow: 1;
  }
}
.audience__categories-item:first-child {
  margin: 0;
}

.audience-category {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-blend-mode: overlay, normal;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .audience-category {
    max-width: 262px;
  }
}
.audience-category__content {
  margin: 0;
}
.audience-category__image {
  display: block;
  margin: auto;
  padding-top: 22px;
  max-width: 100%;
}
.audience-category__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-top: 22px;
  padding-bottom: 33px;
}
.audience-category:hover {
  background-color: #3141c5;
}
.audience-category:hover .audience-category__name {
  color: #fff;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.page {
  max-width: 1400px;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
