@media screen and (min-width: 1400px) {
  .hidden_desktop {
    display: none !important;
  }
}
@media screen and (max-width: 1399px) {
  .hidden_mobile {
    display: none !important;
  }
}
.action-button {
  width: 100%;
  height: 48px;
  border-radius: 2px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 13px;
  background-color: #3040c4;
  color: #fff;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .action-button {
    width: 160px;
  }
}

.fixed-width-action-button {
  width: 160px;
}

.bold-text {
  font-weight: 700;
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    padding-top: 39px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: #fff;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    max-width: 1140px;
    height: 62px;
    justify-content: initial;
    background-color: #f3c6bd;
    margin: auto;
    padding-left: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo__image {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    width: 60px;
    height: 60px;
  }
}
.logo__text {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .logo__text {
    display: flex;
    flex-direction: column;
    width: 222px;
    height: 51px;
    margin-left: 15px;
  }
}
.logo__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-left: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__title {
    margin: 0;
  }
}
.logo__description {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.6;
}

.hamburger {
  width: 58px;
  background-color: transparent;
  border: none;
  border-left: 1px solid #00000026;
}
.hamburger__icon {
  display: inline-block;
  width: 18px;
  height: 13px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png");
}

.navigation {
  margin-top: 7px;
  margin-left: 335px;
}
.navigation__item {
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  color: #2b292d;
  margin-left: 50px;
}
.navigation__item:first-child {
  margin-left: 0;
}
.navigation__item_selected {
  font-weight: 700;
}
.navigation__arrow {
  display: inline-block;
  width: 8px;
  height: 5px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png");
  margin-left: 11px;
}

.header-action-button {
  margin-left: auto;
}

.headline {
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .headline {
    max-width: 1140px;
    margin: auto;
  }
}
@media screen and (min-width: 1400px) {
  .headline__content {
    position: absolute;
    z-index: 1;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
  margin: 35px 15px 0;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    width: 754px;
    height: 165px;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin: 76px 0 0;
  }
}
.headline__text {
  font-size: 24px;
  line-height: 34px;
  margin: 24px 15px 0;
}
@media screen and (min-width: 1400px) {
  .headline__text {
    width: 456px;
    height: 102px;
    margin: 34px 0 0;
  }
}
.headline__actions {
  display: flex;
  flex-direction: column;
  margin: 30px 15px 0;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    flex-direction: row;
    margin: 58px 0 0;
  }
}
.headline__bunner {
  max-width: 100%;
  margin-top: 33px;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__bunner {
    position: relative;
    right: -449px;
    margin-top: 84px;
    margin-bottom: 77px;
  }
}

.action-button.learn-more-button {
  background-color: #fff;
  color: #3040c4;
  margin-top: 15px;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .action-button.learn-more-button {
    width: 158px;
    margin-top: 0;
    margin-left: 10px;
  }
}

.about {
  background-color: #f4f5f7;
}

.articles {
  padding: 46px 15px;
}
@media screen and (min-width: 1400px) {
  .articles {
    display: flex;
    padding: 77px 131px 76px 130px;
  }
}

.article {
  color: #2b292d;
  margin-bottom: 20px;
}
@media screen and (min-width: 1400px) {
  .article {
    max-width: 555px;
    height: 102px;
    margin-bottom: 0;
    margin-right: 29px;
  }
}
.article:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-right: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 8px;
}

@media screen and (min-width: 1400px) {
  .customers {
    display: flex;
    max-width: 1140px;
    margin: auto;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex-grow: 1;
  }
}
.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
}
@media screen and (max-width: 1399px) {
  .customers__item {
    width: 107px;
    height: 94px;
    flex-grow: 1;
  }
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border-bottom: none;
    border-right: none;
    margin-top: 30px;
    margin-left: 98px;
  }
  .customers__item_no-left-margin {
    margin-left: 0;
  }
}
.customers__item:last-child {
  border-right: none;
}
.customers__logo {
  max-width: 80%;
  filter: brightness(0);
}
@media screen and (min-width: 1400px) {
  .customers__logo {
    max-width: 100%;
  }
}

@media screen and (min-width: 1400px) {
  .customers-second-section {
    margin-top: 13px;
  }
}

.tips {
  margin-top: 9px;
  margin-bottom: 10px;
}

.tip {
  border-bottom: 1px solid #e3e3e3;
  padding: 40px 15px 40px;
}
.tip:last-child {
  border-bottom: none;
}
.tip__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.tip__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2b292d;
  margin: 0;
  margin-top: 17px;
}
.tip__description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 15px;
}
.tip__figure {
  display: inline-block;
  margin: 0;
  margin-top: 30px;
}
.tip__image {
  max-width: 100%;
}
.tip__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 19px;
}

.features {
  display: flex;
  align-items: flex-start;
  margin-top: 106px;
  margin-bottom: 110px;
}
.features__left-decoration {
  max-width: 100%;
  position: relative;
  top: 260px;
}
.features__text {
  max-width: 457px;
  margin-left: 40px;
}
.features__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  color: #2b292d;
  margin: 0;
  margin-top: 24px;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 30px;
}
.features__tips-list.tips-list {
  margin-top: 22px;
}
.features__banner {
  max-width: 100%;
  position: relative;
  left: 113px;
}

.tips-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #2b292d;
}
.tips-list__item {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  border-bottom: 1px solid #2b292d26;
  padding-bottom: 22px;
  padding-top: 20px;
}
.tips-list__item_hovered {
  color: #3142c6;
  border-bottom: 3px solid #3142c6;
}
.tips-list__item-icon {
  width: 25px;
  height: 25px;
  vertical-align: top;
  margin-right: 15px;
}
.tips-list__item-description {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #2b292d;
}

.inbox {
  background-color: #fcf0e366;
  padding: 50px 15px 48px;
}
@media screen and (min-width: 1400px) {
  .inbox {
    display: flex;
    justify-content: space-between;
    padding: 115px 99px 101px 193px;
  }
}
.inbox__figure {
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .inbox__figure {
    margin-top: 27px;
  }
}
.inbox__image {
  max-width: 100%;
}
.inbox__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 15px;
}
.inbox__text {
  flex-basis: 519px;
}
.inbox__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #f1592b;
  margin: 0;
  margin-top: 32px;
}
@media screen and (min-width: 1400px) {
  .inbox__subtitle {
    margin-top: 0;
    margin-left: 28px;
  }
}
.inbox__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  color: #2b292d;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .inbox__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
    margin-left: 26px;
  }
}
.inbox__description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .inbox__description {
    max-width: 461px;
    margin-top: 30px;
    margin-left: 28px;
  }
}
.inbox__review {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .inbox__review {
    margin-top: 44px;
  }
}

.review {
  background-color: #fff;
  border-bottom: 4px solid #0185d0;
  padding: 30px 20px 28px;
}
.review__text {
  font-size: 20px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.review__user {
  margin-top: 26px;
}

.user-profile {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  color: #2b292d;
}
.user-profile__photo {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}
.user-profile__text {
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}
.user-profile__name {
  font-weight: 700;
}
.user-profile__work-position {
  color: #807f81;
}

.communication {
  color: #2b292d;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .communication {
    padding: 0;
    margin-left: 130px;
    margin-bottom: 110px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__main-content {
    display: flex;
  }
}
@media screen and (min-width: 1400px) {
  .communication__main-content-text {
    max-width: 462px;
  }
}
.communication__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #0189d1;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .communication__subtitle {
    margin-top: 123px;
  }
}
.communication__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .communication__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
  }
}
.communication__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .communication__description {
    margin-top: 30px;
  }
}
.communication__action-button {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .communication__action-button {
    margin-top: 39px;
  }
}
.communication__figure {
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__figure {
    margin-left: 193px;
    margin-top: 110px;
  }
}
.communication__image {
  max-width: 100%;
}
.communication__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292d99;
  margin-top: 17px;
}
.communication__horizontal-line {
  width: 150px;
  height: 1px;
  background-color: #0000001a;
  border: none;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .communication__horizontal-line {
    margin-top: 26px;
  }
}
@media screen and (min-width: 1400px) {
  .communication__offers {
    display: flex;
  }
}

.offer-container {
  margin-top: 33px;
}
@media screen and (min-width: 1400px) {
  .offer-container {
    max-width: 361px;
    margin-top: 41px;
    margin-left: 30px;
  }
  .offer-container:first-child {
    margin-left: 0;
  }
}

.offer {
  font-size: 18px;
  line-height: 26px;
}
.offer__description {
  margin: 0;
}
.offer__object {
  font-weight: 700;
}
.offer__link {
  display: inline-block;
  font-weight: 700;
  margin-top: 8px;
}

.audience {
  background-color: #00a1c612;
  color: #2b292d;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px 131px 110px 130px;
  }
}
@media screen and (min-width: 1400px) {
  .audience__text {
    max-width: 555px;
    margin: auto;
  }
}
.audience__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  margin: 0;
}
.audience__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin: 0;
  margin-top: 17px;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin-top: 24px;
  }
}
.audience__description {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .audience__description {
    margin-top: 30px;
  }
}
.audience__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .audience__actions {
    display: flex;
    max-width: 328px;
    margin: auto;
    margin-top: 34px;
  }
}
.audience__actions .learn-more-button {
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .audience__actions .learn-more-button {
    margin-top: 0;
  }
}
.audience__categories {
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .audience__categories {
    display: flex;
    max-width: 1139px;
    justify-content: space-between;
    margin: auto;
    margin-top: 111px;
  }
}
.audience__categories-item {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .audience__categories-item {
    flex-grow: 1;
    margin-left: 30px;
    margin-top: 0;
  }
}
.audience__categories-item:first-child {
  margin: 0;
}

.audience-category {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  background-blend-mode: overlay, normal;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .audience-category {
    max-width: 262px;
  }
}
.audience-category__content {
  margin: 0;
}
.audience-category__image {
  display: block;
  max-width: 100%;
  margin: auto;
  padding-top: 22px;
}
.audience-category__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  margin-top: 22px;
  padding-bottom: 33px;
}
.audience-category:hover {
  background-color: #3141c5;
}
.audience-category:hover .audience-category__name {
  color: #fff;
}

.feedback {
  border-bottom: 1px solid #e3e3e3;
  padding: 39px 15px 50px;
}
@media screen and (min-width: 1400px) {
  .feedback {
    position: relative;
    border-bottom: 1px solid #0000001a;
    padding: 76px 0 66px;
  }
}
.feedback__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #3142c6;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .feedback__title {
    max-width: 1140px;
    text-align: center;
    margin: auto;
  }
}
.feedback__description {
  font-size: 24px;
  line-height: 34px;
  color: #2b292d;
  margin: 0;
  margin-top: 29px;
}
@media screen and (min-width: 1400px) {
  .feedback__description {
    max-width: 750px;
    text-align: center;
    margin: auto;
    margin-top: 28px;
  }
}
.feedback__user {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 24px;
  color: #2b292d;
  margin-top: 32px;
}
@media screen and (min-width: 1400px) {
  .feedback__user {
    width: 225px;
    align-items: center;
    margin: auto;
    margin-top: 34px;
  }
}
.feedback__user-name {
  font-weight: 700;
}
.feedback__user-work-position {
  color: #807f81;
}
.feedback__dots-nav {
  margin: auto;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__dots-nav {
    margin-top: 38px;
  }
}
.feedback__image {
  max-width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .feedback__image {
    width: 273px;
    position: absolute;
    bottom: 0;
    right: 26px;
    margin-top: 0px;
  }
}

.dots-nav {
  display: flex;
  justify-content: space-between;
  max-width: 75px;
}
@media screen and (min-width: 1400px) {
  .dots-nav {
    width: 50px;
  }
}
.dots-nav__item {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #2b292d33;
}
@media screen and (min-width: 1400px) {
  .dots-nav__item {
    width: 8px;
    height: 8px;
  }
}
.dots-nav__item_selected {
  background-color: #3142c6;
}

.hiring {
  color: #2b292d;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .hiring {
    padding: 106px 0px 110px 0px;
  }
}
.hiring__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  margin: 0;
}
@media screen and (min-width: 1400px) {
  .hiring__title {
    max-width: 555px;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    margin: auto;
  }
}
.hiring__description {
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .hiring__description {
    max-width: 555px;
    margin: auto;
    margin-top: 20px;
  }
}
.hiring__action-button {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .hiring__action-button {
    display: block;
    width: 247px;
    margin: auto;
    margin-top: 28px;
  }
}
.hiring__vacancies {
  margin-top: 39px;
}
@media screen and (min-width: 1400px) {
  .hiring__vacancies {
    max-width: 750px;
    margin: auto;
    margin-top: 110px;
  }
}
.hiring__vacancies-item {
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .hiring__vacancies-item {
    margin-top: 20px;
  }
}
.hiring__vacancies-item:first-child {
  margin-top: 0;
}

.vacancy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  border: 1px solid #2b292d26;
  border-radius: 8px;
  cursor: pointer;
}
@media screen and (min-width: 1400px) {
  .vacancy {
    height: 81px;
  }
}
.vacancy:hover {
  background-color: #3141c5;
}
.vacancy:hover .vacancy__name,
.vacancy:hover .vacancy__description {
  color: #fff;
}
.vacancy:hover .vacancy__link {
  background-color: #3141c5;
}
.vacancy:hover .vacancy__link-arrow {
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right-white.png");
}
.vacancy__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  height: 102px;
  margin: 19px 0px 19px 20px;
}
@media screen and (min-width: 1400px) {
  .vacancy__text {
    width: 660px;
    height: 29px;
    flex-direction: row;
    margin: 26px 0px 26px 25px;
  }
}
.vacancy__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .vacancy__name {
    display: inline-block;
    width: 408px;
  }
}
.vacancy__description {
  font-size: 16px;
  line-height: 22px;
  color: #2b292d99;
}
@media screen and (min-width: 1400px) {
  .vacancy__description {
    display: inline-block;
    width: 232px;
    font-size: 18px;
    line-height: 24px;
  }
}
.vacancy__link {
  display: flex;
  width: 50px;
  height: 100%;
  background-color: #d5d4d5;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
@media screen and (min-width: 1400px) {
  .vacancy__link {
    background-color: #fff;
  }
}
.vacancy__link-arrow {
  display: inline-block;
  width: 7px;
  height: 12px;
  background-image: url("https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png");
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .vacancy__link-arrow {
    margin-right: 24px;
  }
}

.order {
  background-color: #f4f5f7;
  color: #2b292d;
  padding: 50px 15px;
}
@media screen and (min-width: 1400px) {
  .order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 73px 230px 72px 224px;
  }
}
.order__image {
  display: block;
  max-width: 200px;
  margin: auto;
}
@media screen and (min-width: 1400px) {
  .order__image {
    max-width: 100%;
    margin: 0;
  }
}
@media screen and (min-width: 1400px) {
  .order__text {
    max-width: 555px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.25px;
  margin: 0;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .order__title {
    text-align: start;
    margin: 0;
  }
}
.order__description {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__description {
    margin-top: 12px;
  }
}
@media screen and (min-width: 1400px) {
  .order__actions {
    display: flex;
    margin-top: 26px;
  }
}
.order__email {
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
  border: 1px solid #261e2e33;
  border-radius: 2px;
  background-color: #fff;
  margin-top: 72px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2b292d;
}
.order__action-button {
  margin-top: 12px;
}
@media screen and (min-width: 1400px) {
  .order__action-button {
    flex-shrink: 0;
    margin-top: 0;
    margin-left: 10px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: #2b292d99;
  margin: 0;
  margin-top: 10px;
}

@media screen and (min-width: 1400px) {
  .footer__main-content {
    display: flex;
    margin-left: 130px;
  }
}
@media screen and (min-width: 1400px) {
  .footer__main-content-left-block {
    max-width: 360px;
    margin-top: 44px;
  }
}
.footer__logo {
  margin-top: 40px;
  margin-left: 15px;
  margin-right: 15px;
}
@media screen and (min-width: 1400px) {
  .footer__logo {
    margin: 0;
  }
}
@media screen and (min-width: 1400px) {
  .footer__description {
    font-size: 18px;
    line-height: 26px;
    color: #2b292d99;
    margin: 0;
    margin-top: 26px;
  }
}
.footer__downloads {
  display: flex;
  justify-content: space-between;
  max-width: 261px;
  margin: auto;
  margin-top: 31px;
}
@media screen and (min-width: 1400px) {
  .footer__downloads {
    margin: 0;
    margin-top: 25px;
  }
}
.footer__downloads-link {
  height: 40px;
}
.footer__downloads-image {
  max-width: 100%;
}
.footer__horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #e3e3e3;
  border: none;
  margin: 0;
  margin-top: 40px;
}
.footer__additional-navigation {
  max-width: 290px;
  margin: auto;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .footer__additional-navigation {
    display: flex;
    max-width: initial;
    margin: 0;
    margin-top: 60px;
    margin-left: 126px;
  }
}
.footer__additional-navigation-coloumn {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .footer__additional-navigation-coloumn {
    margin-top: 0;
    margin-left: 29px;
  }
}
.footer__additional-navigation-coloumn:first-child {
  margin-top: 0;
}
@media screen and (min-width: 1400px) {
  .footer__additional-navigation-coloumn:first-child {
    margin-left: 0;
  }
}
.footer__links {
  margin-top: 30px;
  margin-left: 15px;
  margin-bottom: 22px;
}
@media screen and (min-width: 1400px) {
  .footer__links {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #2b292d1a;
    padding: 13px 132px 15px 130px;
    margin: 0;
    margin-top: 59px;
  }
}
@media screen and (min-width: 1400px) {
  .footer__terms-and-conditions {
    flex-grow: 1;
  }
}
.footer__social-media {
  margin-top: 31px;
}
@media screen and (min-width: 1400px) {
  .footer__social-media {
    flex-grow: 1;
    margin: 0;
  }
}

.logo-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-footer {
    flex-direction: row;
  }
}
.logo-footer__image {
  max-width: 60px;
}
.logo-footer__text {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  text-align: center;
  color: #2b292d;
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .logo-footer__text {
    text-align: start;
    margin-top: 0px;
    margin-left: 10px;
  }
}
.logo-footer__title {
  font-weight: 700;
  font-size: 20px;
}
.logo-footer__description {
  font-size: 18px;
  opacity: 0.6;
}

.additional-navigation__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  margin: 0;
}
.additional-navigation__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}
.additional-navigation__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292d;
  opacity: 0.6;
}

.terms-and-conditions {
  display: flex;
  justify-content: space-between;
  max-width: 180px;
}
.terms-and-conditions__link {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #2b292d;
  opacity: 0.6;
}

.social-media {
  display: flex;
  justify-content: space-between;
  max-width: 97px;
}
.social-media__link {
  height: 17px;
}
.social-media__icon {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

.page {
  max-width: 1400px;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
