.top-section {
  background-color: $background-color-light-pink;

  @include for-large-up {
    padding-top: 39px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: $color-pure-white;
  padding-left: 15px;

  @include for-large-up {
    max-width: 1140px;
    height: 62px;
    justify-content: initial;
    background-color: $background-color-light-pink;
    margin: auto;
    padding-left: 0;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__image {
    width: 48px;
    height: 48px;
    @include for-large-up {
      width: 60px;
      height: 60px;
    }
  }

  &__text {
    color: $text-color-grey;

    @include for-large-up {
      display: flex;
      flex-direction: column;
      width: 222px;
      height: 51px;
      margin-left: 15px;
    }
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    margin-left: 13px;

    @include for-large-up {
      margin: 0;
    }
  }

  &__description {
    font-size: 18px;
    line-height: 25px;
    opacity: 0.6;
  }
}

.hamburger {
  width: 58px;
  background-color: transparent;
  border: none;
  border-left: 1px solid $border-color-black-with-another-opacity;

  &__icon {
    display: inline-block;
    width: 18px;
    height: 13px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png');
  }
}

.navigation {
  margin-top: 7px;
  margin-left: 335px;

  &__item {
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    color: $text-color-grey;
    margin-left: 50px;

    &:first-child {
      margin-left: 0;
    }

    &_selected {
      font-weight: 700;
    }
  }

  &__arrow {
    display: inline-block;
    width: 8px;
    height: 5px;
    background-image: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png');
    margin-left: 11px;
  }
}

.header-action-button {
  margin-left: auto;
}
