@import 'breakpoints.scss';
@import 'common.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'tips.scss';
@import 'features.scss';

* {
  box-sizing: border-box;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
}

.page {
  max-width: 1400px;
  margin: auto;
}
